.blocklyMainBackground {
  stroke: none;
}

.categoryBubble {
  margin: 0 auto 0.125rem;
  border-radius: 100%;
  border: 1px solid;
  width: 1.25rem;
  height: 1.25rem;
}

.blocklyToolboxCategoryGroup {
  margin: 4px;
}

.blocklyFlyout {
  border-radius: 5px 0 0 0;
  border-left: 1px solid oklch(32.5% 0.006 285.959);
  border-top: 1px solid oklch(32.5% 0.006 285.959);
  margin-top: -1px;
}

.blocklyToolbox:focus-visible,
.blocklyToolboxCategoryContainer:focus-visible {
  outline: none;
}

.blocklyToolboxCategory {
  background-color: transparent !important;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

.blocklyToolboxCategory.blocklyToolboxSelected {
  background-color: oklch(27.4% 0.006 286.033) !important;
  border: 1px solid oklch(37% 0.013 285.805);
}

.blocklyToolboxCategory {
  height: initial;
  padding: 3px 0;
}

.blocklyTreeRowContentContainer {
  outline: none;
  display: flex;
  flex-direction: column;
}

.blocklyTreeLabel {
  margin: auto;
}

.blocklyToolboxCategoryLabel {
  text-align: center;
  font: inherit;
  font-size: 14px;
}

.injectionDiv {
  overflow: visible;
}