.blocklyMainBackground {
  stroke: none;
}

.categoryBubble {
  margin: 0 auto 0.125rem;
  border-radius: 100%;
  border: 1px solid;
  width: 1.25rem;
  height: 1.25rem;
}

.blocklyToolbox, .blocklyFlyoutBackground {
  outline: none;
}

.blocklyToolboxCategory {
  height: initial;
  padding: 3px 0;
}

.blocklyTreeRowContentContainer {
  outline: none;
  display: flex;
  flex-direction: column;
}

.blocklyTreeLabel {
  margin: auto;
}

.blocklyToolboxCategoryLabel {
  text-align: center;
}