.blocklyMainBackground {
  stroke: none;
}

.categoryBubble {
  position: relative;
  margin: 0;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 1.25rem;
  height: 1.25rem;
}

.blocklyToolboxCategoryGroup {
  margin: 4px 5px 4px 4px;
}

.blocklyFlyout {
  z-index: 60;
  border-radius: 5px 0 0 0;
  outline: 1px solid var(--color-ui-700);
}

.blocklyToolbox:focus-visible,
.blocklyToolboxCategoryContainer:focus-visible {
  outline: none;
}

.blocklyToolbox {
  z-index: 50;
}

.blocklyToolboxCategoryContainer {
  border-radius: 6px;
  border-left: 1px solid transparent;
  margin-bottom: 4px;
}

.blocklyToolboxCategoryContainer:hover {
  border-left-color: var(--color-ui-700);
}

.blocklyToolboxCategoryContainer:has(> .blocklyToolboxSelected) {
  border-left-color: var(--color-teal);
}

.blocklyToolboxCategory {
  padding: 0;
  margin: 0;
  height: initial;
  cursor: pointer;
  border: solid transparent;
  border-radius: 6px;
  border-width: 1px 1px 1px 0px;
}

.blocklyToolboxCategory:hover {
  background-color: var(--color-ui-800) !important;
  border-color: var(--color-ui-700);
}

.blocklyToolboxCategory.blocklyToolboxSelected {
  background-color: var(--color-ui-800) !important;
  border-color: var(--color-ui-700);
}

.blocklyTreeRowContentContainer {
  padding: 3px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.blocklyTreeLabel {
  margin: auto;
}

.blocklyToolboxCategoryLabel {
  display: none;
}

.injectionDiv {
  overflow: visible;
}

.blocklyTextarea {
  color: var(--color-ui-800);
}

.blocklyScrollbarHandle {
  display: none;
}

.blocklyFlyoutButtonShadow {
  fill: none;
}

.blocklyFlyoutButtonBackground {
  stroke: var(--color-ui-600);
  rx: 6;
  ry: 6;
}

.blocklyFlyoutButton {
  cursor: pointer;
  fill: var(--color-ui-750);
}

.blocklyFlyoutButton:hover {
  fill: var(--color-ui-700);
}

.categoryBubble::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.categoryBubble.Motion::after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tb3ZlLWljb24gbHVjaWRlLW1vdmUiPjxwYXRoIGQ9Ik0xMiAydjIwIi8+PHBhdGggZD0ibTE1IDE5LTMgMy0zLTMiLz48cGF0aCBkPSJtMTkgOSAzIDMtMyAzIi8+PHBhdGggZD0iTTIgMTJoMjAiLz48cGF0aCBkPSJtNSA5LTMgMyAzIDMiLz48cGF0aCBkPSJtOSA1IDMtMyAzIDMiLz48L3N2Zz4=');
}

.categoryBubble.Events::after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1mbGFnLWljb24gbHVjaWRlLWZsYWciPjxwYXRoIGQ9Ik00IDIyVjRhMSAxIDAgMCAxIC40LS44QTYgNiAwIDAgMSA4IDJjMyAwIDUgMiA3LjMzMyAycTIgMCAzLjA2Ny0uOEExIDEgMCAwIDEgMjAgNHYxMGExIDEgMCAwIDEtLjQuOEE2IDYgMCAwIDEgMTYgMTZjLTMgMC01LTItOC0yYTYgNiAwIDAgMC00IDEuNTI4Ii8+PC9zdmc+');
}

.categoryBubble.Logic::after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1wdXp6bGUtaWNvbiBsdWNpZGUtcHV6emxlIj48cGF0aCBkPSJNMTUuMzkgNC4zOWExIDEgMCAwIDAgMS42OC0uNDc0IDIuNSAyLjUgMCAxIDEgMy4wMTQgMy4wMTUgMSAxIDAgMCAwLS40NzQgMS42OGwxLjY4MyAxLjY4MmEyLjQxNCAyLjQxNCAwIDAgMSAwIDMuNDE0TDE5LjYxIDE1LjM5YTEgMSAwIDAgMS0xLjY4LS40NzQgMi41IDIuNSAwIDEgMC0zLjAxNCAzLjAxNSAxIDEgMCAwIDEgLjQ3NCAxLjY4bC0xLjY4MyAxLjY4MmEyLjQxNCAyLjQxNCAwIDAgMS0zLjQxNCAwTDguNjEgMTkuNjFhMSAxIDAgMCAwLTEuNjguNDc0IDIuNSAyLjUgMCAxIDEtMy4wMTQtMy4wMTUgMSAxIDAgMCAwIC40NzQtMS42OGwtMS42ODMtMS42ODJhMi40MTQgMi40MTQgMCAwIDEgMC0zLjQxNEw0LjM5IDguNjFhMSAxIDAgMCAxIDEuNjguNDc0IDIuNSAyLjUgMCAxIDAgMy4wMTQtMy4wMTUgMSAxIDAgMCAxLS40NzQtMS42OGwxLjY4My0xLjY4MmEyLjQxNCAyLjQxNCAwIDAgMSAzLjQxNCAweiIvPjwvc3ZnPg==');
}

.categoryBubble.Math::after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1waS1pY29uIGx1Y2lkZS1waSI+PGxpbmUgeDE9IjkiIHgyPSI5IiB5MT0iNCIgeTI9IjIwIi8+PHBhdGggZD0iTTQgN2MwLTEuNyAxLjMtMyAzLTNoMTMiLz48cGF0aCBkPSJNMTggMjBjLTEuNyAwLTMtMS4zLTMtM1Y0Ii8+PC9zdmc+');
}

.categoryBubble.Variables::after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS12YXJpYWJsZS1pY29uIGx1Y2lkZS12YXJpYWJsZSI+PHBhdGggZD0iTTggMjFzLTQtMy00LTkgNC05IDQtOSIvPjxwYXRoIGQ9Ik0xNiAzczQgMyA0IDktNCA5LTQgOSIvPjxsaW5lIHgxPSIxNSIgeDI9IjkiIHkxPSI5IiB5Mj0iMTUiLz48bGluZSB4MT0iOSIgeDI9IjE1IiB5MT0iOSIgeTI9IjE1Ii8+PC9zdmc+');
}

.categoryBubble.Functions::after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1wYXJlbnRoZXNlcy1pY29uIGx1Y2lkZS1wYXJlbnRoZXNlcyI+PHBhdGggZD0iTTggMjFzLTQtMy00LTkgNC05IDQtOSIvPjxwYXRoIGQ9Ik0xNiAzczQgMyA0IDktNCA5LTQgOSIvPjwvc3ZnPg==');
}

.graplet-renderer.graplet-theme .blocklySelected>.blocklyPath.blocklyPathSelected{
  filter: none;
}

.graplet-renderer.graplet-theme .blocklySelected:active>.blocklyPath.blocklyPathSelected{
  filter: var(--blocklySelectedGlowFilter);
}